<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="84383ff7-0cd6-40d7-a4e6-5f7b75fa0a66" Publisher="CN=matt" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bti.Babble.Metro</DisplayName>
    <PublisherDisplayName>matt</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Bti.Babble.Metro</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Bti.Babble.Metro.App">
      <VisualElements DisplayName="My News 2" Logo="Assets\Wkrn.jpg" SmallLogo="Assets\WkrnSmall.jpg" Description="My News 2" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\WkrnSplash.jpg" BackgroundColor="#A4DCF3" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>