<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BabbleContainer" connectionString="metadata=res://*/Entity.Babble.csdl|res://*/Entity.Babble.ssdl|res://*/Entity.Babble.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVSERVER\SQLEXPRESS;initial catalog=Babble;user id=bti;password=bti!web;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>